Client and Streaming/client/Service References/StreamingService/StreamingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://qtc496.cs496.domaincontroller.com:7000/wcf/StreamingService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="UploadStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="stream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadStreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadStreamResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>